html,
body {
  background-color: #83a7c598; 
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.outer-ring {
  
  position: absolute;
  left: calc(50% - 150px);
  height: 300px;
  width: 300px;
  background-image: linear-gradient(135deg, #FEED07 0%, #FE6A50 5%, #ED00AA 15%, #2FE3FE 50%, #8900FF 100%);
  border-radius: 50%;
  animation: rotate 2s infinite;
}

.inner-ring {
  
  background-image: url(/image/wescartoons.jpg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  left: calc(50% - 140px);
  height: 280px;
  width: 280px;
  /* background: #000; */
  border-radius: 50%;
}

@keyframes rotate {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}